<!DOCTYPE html>
{% extends "staff/layout.html" %}
{% block title %} Manage Discount {% endblock %}

{% block navbar %}

{% endblock %}
    {% include 'staff/base2.html' %}
{% block main %}
<head>
<link rel="stylesheet" href="static/style.css">
<style>

</style>
</head>
<body>
<div class="container">
    <h3 class="my-4 text-center">Manage Discount</h3>

    <form method="POST">
        <div class="form-group">
            <label for="name">Add New Discount</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Discount Name"
                required>
        </div>

        <div class="form-group">
            <label for="code">Add Discount Code</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="Enter Discount Code"
                required>
        </div>

        <div class="form-group">
            <label for="percentage">Add Discount Percentage</label>
            <input type="number" class="form-control" id="percentage" name="percentage" placeholder="Enter Discount Percentage"
                required>
        </div>

        <div class="form-group">
            <label for="start_date">Add Discount Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Enter Discount Start Date"
                required>
        </div>

        <div class="form-group">
            <label for="end_date">Add Discount End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" placeholder="Enter Discount End Date"
                required>
        </div>


        <button type="submit" class="btn btn-primary mb-3">Add New Discount</button>
    </form>

    <table class="table table-striped" style="background-color: #c8d6e5">
        <thead >
            <tr>
                <th>ID</th>
                <th>Discount Name</th>
                <th>Discount Code</th>
                <th>Discount Percentage</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Updated Date</th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
            <tr>
                <td>{{ discount.id }}</td>
                <td>{{ discount.name }}</td>
                <td>{{ discount.discount_code }}</td>
                <td>{{ discount.percentage }}</td>
                <td>{{ discount.start_date }}</td>
                <td>{{ discount.end_date }}</td>
                <td>{{ discount.created_date }}</td>
                <td>{{ discount.created_by }}</td>
                <td>{{ discount.updated_date }}</td>
                <td>{{ discount.updated_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}