{% extends "staff/layout.html" %}
{% block title %} Edit About Us {% endblock %}
{% block navbar %}

{% endblock %}
{% include 'staff/base3.html' %}

{% block main %}
<link rel="stylesheet" href="static/payment.css">
<h2>Edit About Us Page</h2>
<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ about_us.title }}">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description" rows="5">{{ about_us.description }}</textarea>
  </div>
  <div class="form-group">
    <a href="/static/uploads/{{about_us.image}}">
                    <img src="/static/uploads/{{about_us.image}}" alt="About Us Image" class="img-thumbnail" style="max-width: 70px; max-height: 70px;">
                  </a>
    <label for="image">Image:</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
