<!DOCTYPE html>
{% extends "staff/layout.html" %}
{% block title %} Edit Color {% endblock %}

{% block navbar %}

{% endblock %}
{% include 'staff/base2.html' %}
{% block main %}
<head>
<link rel="stylesheet" href="static/style.css">
<style>

</style>
</head>
<body>
<div class="container">
    <h3 class="my-4 text-center">Edit Color</h3>

    <form method="POST">
        <div class="form-group">
            <label for="name">Color Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Color Name" value="{{ color.name }}" required>
        </div>
        <div class="form-group">
            <label for="color_code">Color Code</label>
            <input type="text" class="form-control" id="color_code" name="color_code" placeholder="Enter Color Code" value="{{ color.color_code }}" required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
    </form>
<table class="table table-striped" style="background-color: #c8d6e5">
        <thead >
            <tr>
                <th>Edit</th>
                <th>ID</th>
                <th>Color Name</th>
                <th>Color Code</th>
            </tr>
        </thead>
        <tbody>
            {% for color in colors %}
            <tr>
                <td>Edit</td>
                <td>{{ color.id }}</td>
                <td>{{ color.name }}</td>
                <td>{{ color.color_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
