<!DOCTYPE html>
{% extends "staff/layout.html" %}
{% block title %} Edit Product {% endblock %}

{% block navbar %}

{% endblock %}

{% include 'staff/base2.html' %}

{% block main %}
<head>
    <link rel="stylesheet" href="static/style.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h3 class="my-4 text-center">Manage Products</h3>

    <table class="table table-striped" style="background-color: #c8d6e5">
        <thead>
            <tr>
                <th>Edit</th>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Discount</th>
                <th>Price</th>
                <th>Color</th>
                <th>Image 1</th>
                <th>Image 2</th>
                <th>Image 3</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>Edit</td>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.brand.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.discount_id }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% for color in product.colors %}
                    {{ color.name }}
                    {% endfor %}
                </td>
                <td>
                  <a href="/static/uploads/{{product.image_1}}">
                    <img src="/static/uploads/{{product.image_1}}" alt="Product Image" class="img-thumbnail" style="max-width: 70px; max-height: 70px;">
                  </a>
                </td>
                <td>
                  <a href="/static/uploads/{{product.image_2}}">
                    <img src="/static/uploads/{{product.image_2}}" alt="Product Image" class="img-thumbnail" style="max-width: 70px; max-height: 70px;">
                  </a>
                </td>
                <td>
                  <a href="/static/uploads/{{product.image_3}}">
                    <img src="/static/uploads/{{product.image_3}}" alt="Product Image" class="img-thumbnail" style="max-width: 70px; max-height: 70px;">
                  </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

        <br>
        <h3 class="my-4 text-center"id="editProductForm">Edit Product</h3>

        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ product.title }}"
                    required>
            </div>
            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control" id="desc" name="desc"
                    required>{{ product.description }}</textarea>
            </div>
            <div class="form-group">
                <label>Product Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" value="{{ product.stock }}"
                    required>
            </div>
            <div class="form-group">
                <label>Product Brand</label>
                <select class="form-control" id="brand" name="brand" required>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if brand.id == product.brand.id %}selected{% endif %}>
                        {{ brand.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Product Category</label>
                <select class="form-control" id="cat" name="cat" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>
                        {{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Product Discount</label>
                <select class="form-control" id="discount" name="discount">
                    <option value="" {% if product.discount is none %}selected{% endif %}>No Discount</option>
                    {% for discount in discounts %}
                        {% if discount.start_date <= datetime.now() <= discount.end_date %}
                            <option value="{{ discount.id }}" {% if discount.id == product.discount_id %}selected{% endif %}>
                                {{ discount.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Product Price</label>
                <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}"
                    required>
            </div>
            <div class="form-group">
                <label>Product Color</label>
                {% for color in colors %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="colors[]" id="color{{ color.id }}" value="{{ color.id }}"
                            {% if color in product.colors %}checked{% endif %}>
                        <label class="form-check-label" for="color{{ color.id }}">
                            {{ color.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
               <label>Product Image 1</label>
                {% if product.image_1 %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image_1) }}" alt="Product Image 1" height="30">
                {% endif %}
               <input type="file" class="form-control-file" id="image1" name="image1">
            </div>

            <div class="form-group">
               <label>Product Image 2</label>
                {% if product.image_2 %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image_2) }}" alt="Product Image 2" height="30">
                {% endif %}
               <input type="file" class="form-control-file" id="image2" name="image2">
            </div>

            <div class="form-group">
               <label>Product Image 3</label>
                {% if product.image_3 %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image_3) }}" alt="Product Image 3" height="30">
                {% endif %}
               <input type="file" class="form-control-file" id="image3" name="image3">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
        </form>
    </div>
</body>

<script>
    window.onload = function() {
        document.getElementById('editProductForm').scrollIntoView({
            behavior: 'smooth'
        });
    }
</script>

{% endblock %}