{% extends "staff/layout.html" %}
{% block title %} Dashboard {% endblock %}

{% block navbar %}

{% endblock %}
    {% include 'staff/base2.html' %}

{% block main %}
<link rel="stylesheet" href="static/payment.css">
    <h1 style="color:green">Most Sold</h1>
        <table class="history">
            <thead>
                <tr>
                    <th>&nbsp;Most Sold</th>
                    <th>Number of Orders</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Most Sold Category: {{ msc }}</td>
                        <td>{{ count_c }}</td>

                    </tr>

                    <tr>
                        <td>Most Sold Color: {{ most_sold_color }}</td>
                        <td>{{ most_sold_color }}: {{ cc }}</td>
                    </tr>

                    <tr>
                        <td>Most Sold Brand: {{ msb }}</td>
                        <td>{{ count_b }}</td>
                    </tr>

            </tbody>
        </table>
<br> <br>
<h1 style="color:orange">Almost Out of Stock</h1>
<table class="history">
    <thead>
        <tr>
            <th>&nbsp;Product</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for product in almost_out_of_stock %}
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}